.section-container {
  min-height: 100%;
}

.section-content-container {
  flex-direction: column;
}

.aboutus-image-line {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.aboutus-image-line img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.aboutus-image-line > div {
  position: relative;
  overflow: hidden;
}

.about-image-linee > div:hover {
  cursor: pointer;
}

.aboutus-image-line > div:nth-child(1):hover > div {
  transform: translateX(0%);
  transition: transform 1s;
}
.aboutus-image-line > div:nth-child(2):hover > div {
  transform: translateX(0%);
  transition: transform 1s;
}

.aboutus-image-line > div:nth-child(1) > div {
  transform: translateX(-100%);
  transition: transform 1s;
}
.aboutus-image-line > div:nth-child(2) > div {
  transform: translateX(100%);
  transition: transform 1s;
}

.aboutus-image-line > div > div {
  background-color: rgba(13, 13, 13, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.aboutus-image-detail-title {
  font-family: inter-semibold;
  margin-bottom: 10px;
  font-size: 22px;
  color: red;
}

.aboutus-image-detail-description {
  color: white;
  font-family: inter-regular;
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .aboutus-image-line {
    flex-direction: column;
    gap: 3rem;
  }
}
