* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

section#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
}

section#header .logo-container {
  width: 6.5rem;
  height: 6.5rem;
}

.header-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

section#header .logo-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-title {
  font-family: inter-semibold;
  font-size: 2.2rem;
  color: #ff001f;
}

.logo-subtitle {
  color: #2e2e2e;
  font-size: 1.8rem;
}

.header-right {
  display: flex;
  gap: 1.5rem;
}

@font-face {
  font-family: inter-regular;
  src: url("assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: inter-light;
  src: url("assets/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: inter-semibold;
  src: url("assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: inter-bold;
  src: url("assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: inter-medium;
  src: url("assets/fonts/Inter-Medium.ttf");
}

html,
body {

  width: 100%;
  height: 100%;
  font-family: inter-regular;
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #232323;
}

a:hover {
  color: #ff001f;
}

button {
  border: 2px solid #ff001f;
  font-family: inter-semibold;
  border-radius: 5rem;
  padding: 12px 60px;
  user-select: none;
  font-size: 1.6rem;
}


button.filled {
  background-color: #ff001f;
  color: white;
}

button.outline {
  background-color: transparent;
  border: 2px solid #ff001f;
  color: #ff001f;
}

button.ghost {
  background-color: transparent;
  border: 2px solid transparent;
  color: #ff001f;
}

button.full-width{
  width: 100%;
}

.section-title {
  font-size: 3.4rem;
  color: #212121;
  font-family: inter-bold;
  margin-bottom: 4rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  width: 100%;
  user-select: none;
}

.section-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  max-width: 90%;
}

@media screen and (max-width: 800px) {
  .section-container {
    height: auto;
  }
  .section-content-container {
    justify-content: center;
    flex-direction: column;
  }
}

.text-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.text-input-container label{
    font-family: inter-semibold;
    margin-bottom: 10px;
    font-size: 20px;
    width:100%;
    text-align: left;
}

.text-input-container input{
    font-family: inter-regular;
    font-size: 1.8rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid white;
    outline: none;
    width: 100%;
}

.text-input-container input:focus{
border: 2px solid #ff001f;
}

.text-input-container:focus-within  label{
  color: red;
}

/* MULTITEXT */

.multi-text-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.multi-text-input-container label{
    font-family: inter-semibold;
    margin-bottom: 10px;
    font-size: 20px;
    width:100%;
    text-align: left;
}

.multi-text-input-container textarea{
    font-family: inter-regular;
    font-size: 1.8rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid white;
    outline: none;
    width: 100%;
    resize: vertical;
    min-height: 15rem;
}

.multi-text-input-container textarea:focus{
border: 2px solid #ff001f;
}

.multi-text-input-container:focus-within label{
  color: red;
}

/* ---> BU KISIM ÖNEMLİ <----- */

/* 
.text-input-container input:focus + .text-input-container label{
  color: #ff001f;
} */

.footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: white;
  user-select: none;
}

.footer-logo {
  height: 7.5rem;
}
