html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

section#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
}

section#header .logo-container {
  width: 6.5rem;
  height: 6.5rem;
}

.header-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

section#header .logo-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-title {
  font-family: inter-semibold;
  font-size: 2.2rem;
  color: #ff001f;
}

.logo-subtitle {
  color: #2e2e2e;
  font-size: 1.8rem;
}

.header-right {
  display: flex;
  gap: 1.5rem;
}

/* HERO SECTION */
section#hero {
  background: url("assets/images/arkaplan.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  width: 100%;
  height: 70vh;
}

.hero-filter {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 10%;
  left: 4rem;
  width: 40%;
  color: #fff;
  gap: 20px;
}

.hero-title {
  font-family: inter-regular;
  font-size: 2.6rem;
  color: #eee;
}

.hero-content {
  font-size: 1.6rem;
  font-family: inter-light;
  margin-bottom: 4px;
  line-height: 2.2rem;
}

button.filled {
  background-color: #ff001f;
  color: white;
}

button.outline {
  background-color: transparent;
  border: 2px solid #ff001f;
  color: #ff001f;
}

button.ghost {
  background-color: transparent;
  border: 2px solid transparent;
  color: #ff001f;
}

/* BROADCAST */
.broadcast-banner-container {
  background-image: linear-gradient(90deg, #ff001f 0%, #470009 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inter-semibold;
  color: white;
  gap: 10px;
  padding: 4rem;
  margin-bottom: 2rem;
  user-select: none;
}

/* CLICK EVENT */

.click-event:hover {
  user-select: none;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.click-event:active {
  transform: translateY(2px);
  transition: transform 0.3s ease;
  user-select: none;
}

.broadcast-indicator-outer {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.broadcast-indicator-inner {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.section-title {
  font-size: 3.4rem;
  color: #212121;
  font-family: inter-bold;
  margin-bottom: 4rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  width: 100%;
  user-select: none;
}

.section-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  max-width: 90%;
}

@media screen and (max-width: 800px) {
  .section-container {
    height: auto;
  }
  .section-content-container {
    justify-content: center;
    flex-direction: column;
  }
}

.caycore-content-logo {
  height: 30rem;
  border-radius: 4rem;
}

.caycore-content-text {
  text-align: justify;
  user-select: text;
}

.team-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.team-component-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-component-content-container span:nth-child(1) {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-family: inter-bold;
}
.team-component-content-container span:nth-child(2) {
  font-family: inter-medium;
  font-size: 1.8rem;
  color: #737373;
}

.team-component-container-img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}
